<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
  
  body {
    background-color: #fce4ec; /* Baby Pink */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    padding-top: 100px; 
  }
 .container {
    background-color: #ffffff; 
    width: 100%;
    padding: 10%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>STANZASHIP - Login</title>
</head>
<body>
  {% include "header.html" %}



<div class="container">
{%if user.is_authenticated %}
<div class="card border-dark mb-3" >
  <div class="card-header">DETAILS</div>
  <div class="card-body">
    <p>USERNAME: {{ user.username }}</p>
    <p>EMAIL: {{ user.email }}</p>
  </div>
</div>
  <form>
  <button type="button" class="btn btn-outline-danger mb-3 justify-content-center" style="width: 100%;" id="logout-button">
    Logout
  </button>
  </form>
{% else %}
  <p>You are not logged in.</p>
{% load socialaccount %}
<h2>GOOGLE LOGIN</h2>
<a href="{% provider_login_url 'google' next='/' %}">Sign in with Google</a>

{% endif %}



</div>
</body>
<script>
  // Add event listener to search option buttons
  document.getElementById('logout-button').addEventListener('click', function(event) {
    event.preventDefault();
    // Create a form to submit the logout request
    var form = document.createElement('form');
    form.method = 'POST';
    form.action = '{% url "account_logout" %}';
    
    // Add CSRF token to the form
    var csrfToken = '{{ csrf_token }}';
    var csrfInput = document.createElement('input');
    csrfInput.type = 'hidden';
    csrfInput.name = 'csrfmiddlewaretoken';
    csrfInput.value = csrfToken;
    form.appendChild(csrfInput);
    
    // Append the form to the body and submit it
    document.body.appendChild(form);
    form.submit();
  });
</script>
</html>

